<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="email" name="username"
            placeholder="Your email"
            formControlName="email"
            >
            <mat-error>Email is invalid or missing</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Your password" name="password" 
            formControlName="password"
            >
        </mat-form-field>
        <button *ngIf="!isLoading" mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>
        <mat-spinner *ngIf="isLoading" ></mat-spinner>
    </form>
</section>
